/*
This is a file for global css, if needed for your app.
*/

html, body {
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  margin: 2vh 15vw;
}

h1 {
  /* color: red; */ /*Don't actually make this red... */
}
