.AppTitle-wrapper-link {
  padding: 0.5rem 0 0 0.5rem;
  white-space: nowrap;
}

.AppTitle-logo {
  width: 4rem;
  height: 4rem;
}

.AppTitle-title {
  font-size: 2rem;
  font-weight: lighter;
  color: #325d81;
  margin: 2px;
  display: flex;
  flex-wrap: wrap;
}

.AppTitle-title span {
  flex: 1 1 auto;
}

.AppTitle-title #beta-indicator {
  padding: 0 1rem;
  background-color: purple;
  color: white;
  border-radius: 8px;
}

.AppTitle-title:focus {
  border: 1px solid blue;
}

.AppTitle-intro {
  font-size: 1em;
  color: #325d81;
  font-weight: lighter;
}

.AppTitle-title-container {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: top;
}

@media (max-width: 415px) {
  .AppTitle-wrapper-link {
    width: 100%;
  }
  .AppTitle-logo {
    width: 3rem;
    height: 3rem;
  }
  .AppTitle-title {
    font-size: 1.5rem;
  }
}
