.Navbar-nav {
    overflow: hidden;
}

.Navbar-nav a {
    float: left;
    font-weight: lighter;
    display: block;
    color: #004a87;
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 30px;
    text-decoration: none;
    font-size: 17px;
    height: 54px;
    border: 1px solid transparent;
}

.Navbar-nav a:nth-last-of-type(1) {
    padding-top: 25px;
}

.Navbar-nav a:focus {
    border: 1px solid blue;
}

.Navbar-nav a:hover {
    background-color: #7d8e9c;
    color: white;
}

.Navbar-nav .active {
    background-color: #004a87;
    color: white;
}

.Navbar-nav .active:focus {
    border: 1px solid #00fff3;
}
  
.Navbar-nav .icon {
    display: none;
}

#skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .Navbar-nav a {display: none;}
    .Navbar-nav a.icon {
        float: right;
        display: block;
        /* margin-top: -10px; */
    }
}
  
@media screen and (max-width: 600px) {
    .Navbar-nav.responsive {
        position: absolute;
        background-color: #f6fcff;
        top: 0;
        right: 90px;
    }
    .Navbar-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        padding-bottom: 10px;
    }
    .Navbar-nav.responsive a:first-of-type {
        margin-top: 85px;
    }
    .Navbar-nav.responsive a {
        border: 1px solid #c3ebff;
    }
    .Navbar-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
        height: 29px;
        padding-top: 13px;
    }
    .Navbar-nav.responsive a:nth-last-of-type(1) {
        border: none;
    }
}